<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>expression_01</string>
		<key>texttoInput</key>
		<string>[expre_01]</string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_02</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_03</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_04</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_05</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_06</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_07</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_08</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_09</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_10</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_11</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_12</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_13</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_14</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_15</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_16</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_17</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_18</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_19</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_20</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_21</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_22</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_23</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_24</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string>expression_25</string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
	<dict>
		<key>image</key>
		<string></string>
		<key>texttoInput</key>
		<string></string>
	</dict>
</array>
</plist>
