<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>项目</string>
			<key>score</key>
			<string>积分</string>
			<key>introduce</key>
			<string>说明</string>
		</dict>
		<dict>
			<key>title</key>
			<string>每日签到</string>
			<key>score</key>
			<string>+5</string>
			<key>introduce</key>
			<string>每日一次</string>
		</dict>
		<dict>
			<key>title</key>
			<string>动态发布</string>
			<key>score</key>
			<string>+3</string>
			<key>introduce</key>
			<string>配合宝宝图片</string>
		</dict>
		<dict>
			<key>title</key>
			<string>动态回复</string>
			<key>score</key>
			<string>+1</string>
			<key>introduce</key>
			<string>有效回复</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>项目</string>
			<key>score</key>
			<string>积分</string>
			<key>introduce</key>
			<string>说明</string>
		</dict>
		<dict>
			<key>title</key>
			<string>连续7天发布动态</string>
			<key>score</key>
			<string>+10</string>
			<key>introduce</key>
			<string>-</string>
		</dict>
		<dict>
			<key>title</key>
			<string>连续14天发布动态</string>
			<key>score</key>
			<string>+25</string>
			<key>introduce</key>
			<string>-</string>
		</dict>
		<dict>
			<key>title</key>
			<string>连续28天发布动态</string>
			<key>score</key>
			<string>+50</string>
			<key>introduce</key>
			<string>-</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>兑换项目</string>
			<key>score</key>
			<string>积分</string>
			<key>introduce</key>
			<string>说明</string>
		</dict>
		<dict>
			<key>title</key>
			<string>1个月早教服务</string>
			<key>score</key>
			<string>300</string>
			<key>introduce</key>
			<string>可为自己或他人兑换</string>
		</dict>
		<dict>
			<key>title</key>
			<string>3个月早教服务</string>
			<key>score</key>
			<string>800</string>
			<key>introduce</key>
			<string>可为自己或他人兑换</string>
		</dict>
		<dict>
			<key>title</key>
			<string>6个月早教服务</string>
			<key>score</key>
			<string>1200</string>
			<key>introduce</key>
			<string>可为自己或他人兑换</string>
		</dict>
		<dict>
			<key>title</key>
			<string>12个月早教服务</string>
			<key>score</key>
			<string>2000</string>
			<key>introduce</key>
			<string>可为自己或他人兑换</string>
		</dict>
		<dict>
			<key>title</key>
			<string>24个月早教服务</string>
			<key>score</key>
			<string>3500</string>
			<key>introduce</key>
			<string>可为自己或他人兑换</string>
		</dict>
	</array>
</array>
</plist>
