<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>titile</key>
		<string>益智按摩操</string>
		<key>pics</key>
		<array>
			<string>gym_1_1.png</string>
			<string>gym_1_2.png</string>
			<string>gym_1_3.png</string>
		</array>
	</dict>
	<dict>
		<key>titile</key>
		<string>母子健身操</string>
		<key>pics</key>
		<array>
			<string>gym_2_1.png</string>
			<string>gym_2_2.png</string>
			<string>gym_2_3.png</string>
		</array>
	</dict>
	<dict>
		<key>titile</key>
		<string>妈咪宝贝瑜伽</string>
		<key>pics</key>
		<array>
			<string>gym_3_1.png</string>
			<string>gym_3_2.png</string>
			<string>gym_3_3.png</string>
		</array>
	</dict>
	<dict>
		<key>titile</key>
		<string>宝宝健身操</string>
		<key>pics</key>
		<array>
			<string>gym_4_1.png</string>
			<string>gym_4_2.png</string>
			<string>gym_4_3.png</string>
		</array>
	</dict>
	<dict>
		<key>titile</key>
		<string>婴儿主被动操</string>
		<key>pics</key>
		<array>
			<string>gym_5_1.png</string>
			<string>gym_5_2.png</string>
			<string>gym_5_3.png</string>
		</array>
	</dict>
	<dict>
		<key>titile</key>
		<string>竹竿操</string>
		<key>pics</key>
		<array>
			<string>gym_6_1.png</string>
			<string>gym_6_2.png</string>
			<string>gym_6_3.png</string>
		</array>
	</dict>
	<dict>
		<key>titile</key>
		<string>亲子模仿操</string>
		<key>pics</key>
		<array>
			<string>gym_7_1.png</string>
			<string>gym_7_2.png</string>
			<string>gym_7_3.png</string>
		</array>
	</dict>
</array>
</plist>
